PINECONE_API_KEY=
PINECONE_INDEX_NAME=aiml-paper-search
PINECONE_NAMESPACE=arxiv-papers
PINECONE_EMBEDDING_MODEL=llama-text-embed-v2
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
PINECONE_TEXT_FIELD=paper_text
ARXIV_DATASET_SIZE=1000
DATA_DIR=data

